*{
    margin: 0;
    padding: 0;
}
.box{
    display: flex;
    margin-top:15%;
    justify-content: center;

}
.subbox1{
    padding: 50px;
}
.subbox2{
    /* padding: 50px; */
    padding-top: 80px;
    padding-left: 50px;
}

.btndiv{
    background-color: aqua;
    padding: 10px;
    
}
#preview{
margin-left: 45%;
margin-top: -20%;

}



.container {
    position: relative;
  }
  
  .color-button {
    
    font-size: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
  }
  
  #pinkButton {
    left: 10px;
    background-color:rgb(247, 90, 247);
  }
  
  #yellowButton {
    left: 60px;
    background-color: yellow;
  }
  #blueButton{
    left: 60px;
    background-color: rgb(73, 202, 252);
  }
  
  .rotate-animation {
    animation: rotate 2s linear 1;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0);
      width: 30px;
    }
    100% {
      transform: rotate(360deg);
      width: 300px;
    }
  }

  .button-browse{
    background-color: rgb(5, 181, 250);
    padding: 10px;
    text-align: center;
  }